<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='app.css') }}" rel="stylesheet">
        <title>Simple Flask App</title>
    </head>
    <body data-theme="light" class="min-h-screen">
        <main class="container py-8 min-w-full min-h-screen flex flex-col justify-center items-center">
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
